letter-tag {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(200 200 200);
    margin: 1px;
    min-height: 4.2vw;
    min-width: 4.2vw;
    font-size: 2.4em;
    font-weight: bolder;
}

leter-tag.focus {
    border: 2px solid rgb(0 0 0);
    background-color: rgb(255 255 255);
    color: rgb(0 0 0);
}

letter-tag.wrong {
    border: none;
    background-color: rgb(120 124 126);
    color: rgb(255 255 255);
}

letter-tag.match {
    border: none;
    background-color: rgb(201 180 88);
    color: rgb(255 255 255);
}

letter-tag.correct {
    border: none;
    background-color: rgb(106 170 100);
    color: rgb(255 255 255);
}