wordle-app {
  /* Component styles go here */
  * {
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
  }

  div {
    flex-direction: column;
  }

  
}
