wordle-app {
  /* Component styles go here */
  * {
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
  }

  div {
    flex-direction: column;

    word {
      display: none;
    }

    notice {
      display: block;
      opacity: 0.0;
      padding: 20px;
      background-color: rgb(0 0 0);
      color: rgb(255 255 255);
      border-radius: 5px;
    }

    notice.show {
      animation-name: show;
	    animation-duration: 2s;
    }
    notice.hide {
      animation-name: hide;
	    animation-duration: 2s;
    }
  }
}

@keyframes show {
	from {
		opacity: 0.0;
	}
	to {
		opacity: 1.0;
	}
}

@keyframes hide {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0.0;
	}
}